html
    include head.pug
    body
        h1 
            a(href="/") ApplauseBot
        p(style="color: gray; left-margin:10px;") A live soundboard for calls
        if email
            span(style="color: #AAAAAA") - #{email}
            a(href="") Log Out
        if error
            p #{error}
        div(id="soundboard")
        include react.pug
        script(src="/moment.min.js")
        script(src="/soundboard.js" type="text/babel")
        script.
            var callId = "#{call.botId}";