<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Glitch!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

  </head>
  <body>
    <header>
      <h1>ApplauseBot</h1>
    </header>

    <main>
      <p>A soundboard for Zoom {email} </p>      

      Zoom Phone Number / Extension
      <form action="/connect">
        <label>
          <input
            name="number"
            type="text"
            maxlex            
            required
            placeholder="ex: +14086380968,,7323580#"
          />
        </label>
        <button type="submit" id="submit-dream">Connect</button>
      </form>

    </main>
  </body>
</html>
