<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Glitch!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">ApplauseBot</a></h1>
    </header>

    <main>
      <p>A soundboard for Zoom</p>      
      <form action="/parseTest" method="POST">
        <label>
          Email
          <textarea
            name="text"
            required
            placeholder="zoom invite"
          ></textarea>
        </label>
        <label>
        Password
          <input
            name="pass"
            type="password"
            maxlength="100"
            required
            placeholder="Password"
          />
        </label>
        <button type="submit">Login</button>
      </form>
    </main>
  </body>
</html>
